$color-primary: #6fc6d582;
$color-primary-light: #29495e9e;
$color-primary-dark: #1012218c;

$color-nav-secondary: rgb(34, 63, 39);

$color-secondary-light: #fed149a8;
$color-secondary-dark: #d09f0bb0;

$color-tertiary-light: #00758081;
$color-tertiary-dark: #0131358c;

$color-quarterly-light: #282846;
$color-quarterly-dark: #21213d;

$color-grey-light-1: #f7f7f7;
$color-grey-dark-2: #333;
$color-grey-dark-3: rgba(22, 22, 22, 0.892);

$color-grey-dark: #777;
$color-white: #fff;
$color-black: rgb(56, 34, 34);

// navigation
$color-nav-primary: rgb(106, 183, 225);

//grid

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
